.grey-line {
	width: 100%;
	border-top: 1px solid $grey-light;
}

.page-header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding-top: 15px;
	padding-bottom: 12px;
	.header-info {
		overflow-wrap: break-word;
		text-align: right;
		.sub-text {
			max-width: 300px;
		}
		.header-contacts {
			font-size: 0.875em; //14 / 16
			margin-top: 12px;
			margin-bottom: 15px;
			.phone {
				margin-left: 25px;
			}
		}
	}

	.logo {
		width: 381;
		min-width: 300px;
		height: auto;
		img {
			width: 100%;
			height: auto;
		}
	}


	@media (max-width: 750px) {
		flex-direction: column;
		justify-content: center;
		align-content: center;
		.logo {
			margin: 0 auto;
			width: 70%;
			min-width: 0;
		}
		.header-info {
			text-align: center;
			.sub-text {
				max-width: 100%;
			}
			.header-contacts {
			}
		}

	}

}

.header-menu {
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
	@media (max-width: 670px) {
		flex-direction: column;
		
			text-align: center;
		
	}
}



