.grey-line {
	width: 100%;
	border-top: 1px solid $grey-light;
}


.page-header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding-top: 15px;
	padding-bottom: 12px;
	.header-info {
		margin-left: 10px;
		min-width: 300px;
		overflow-wrap: break-word;
		text-align: right;
		.sub-text {
			max-width: 300px;
		}
		.header-contacts {
			font-size: $text14; //14 / 16
			margin-top: 12px;
			margin-bottom: 15px;
			.phone {
				margin-left: 25px;
			}
		}
	}

	.logo {
		display: block;
		width: 66%;
		padding-top: 16%;
		background: url('../img/logo.png') top left no-repeat;
		background-size: 100% auto;
		background-image: url('../img/logo.svg');
	}


	@media (max-width: 750px) {
		flex-direction: column;
		justify-content: center;
		align-content: center;
		.logo {
			padding-top: 0;
			padding-bottom: 16%;
			margin: 0 auto;
			width: 60%;
			padding-top: 16%;
			background: url('../img/logo-vertical.png') top center no-repeat;
			background-size: 100% auto;
			background-image: url('../img/logo-vertical.svg');
		}
		.header-info {
			text-align: center;
			margin-left: 0px;
			min-width: 0;
			.sub-text {
				max-width: 100%;
			}
			.header-contacts {
			}
		}

	}
}

.header-menu {	
	display: flex;
	align-content: stretch;
	max-width: 940px;
	align-items: stretch;
	justify-content: space-between;
	@media (max-width: 690px) {
		padding-top: 5px;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}



