body {
	font-family: $PT;
	font-size: $text16; //16 / 16
	margin: 0 auto;
	width: 100%;
	background: white;
	color: $grey-text;
	line-height: 1.5;
}

.wrapper {
	box-sizing: content-box;
	max-width: 940px;
	margin: 0 auto;
	padding-right: 2%;
	padding-left: 2%;

}

.link-red {
	color: $grey-text; 
	transition: .33s all;
	cursor: pointer;
	&:hover {
		transition: none;
		color: $eng-red;
	}
}

a {
	@extend .link-red;
}

li a {
	cursor: pointer;
}


.underline-grey a {
	border-bottom: 1px solid $grey-light;
	transition: .33s all;
	&:hover {
		transition: none;
		border-bottom: 1px solid $eng-red;
	}
}

.red-Line {
	margin-top: 20px;
	width: 100%;
	border-top: 1px solid $eng-red;
}

.sub-text {
	color: $soc-color;
	font-size: $text12; //12 / 16
}

.text12 {
	font-size: 0.75em;
}

.text14 {
	font-size: 0.875em;
}

.text72 {	
	font-size: 4.5em; //72 / 16
}

.text24 {
	font-size: 1.5em;
}