body {
	font-family: $PT;
	font-size: 1em; //16 / 16
	margin: 0 auto;
	width: 100%;
	background: white;
	color: $grey-text;
	line-height: 1.5;
}

.wrapper {
	box-sizing: content-box;
	max-width: 940px;
	margin: 0 auto;
	padding-right: 2%;
	padding-left: 2%;

}

main {
	padding-top: 40px;
}

.red-Line {
	width: 100%;
	margin-top: 100px;
	border-top: 1px solid $eng-red;
}

.sub-text {
	color: $soc-color;
	font-size: 0.75em; //12 / 16
}