body {
	font-family: $PT;
	font-size: 16px;
	
}

.full-wrapper {
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
	background: white;

}

.wrapper {
	
	padding-left: 13.28125%;
	padding-right: 13.28125%;


}
