.navigation {
  li {
    text-align: center;
    display: inline-block;
    padding: 10px;
    color: $grey-text;
    line-height: 1;

    &:first-child {
      padding-left: 0;
      margin-left: 0;
    }
    &:last-child {
      padding-right: 0;
      margin-right: 0;
    }
    .fal {
      @extend .link-red;
    }
  }
}
