.navigation li {
    display: inline-block;
    margin-left: 20px;
    color: $grey-text;
  a {
    color: $grey-text;

    border-bottom: 2px solid $grey-light;
    &:hover {
      border-bottom: 2px solid $eng-red;
    }
  }
  &:first-child {
    margin-left: 0;
  }
}
