.navigation {

}

.navigation li {
  text-align: center;
  display: inline-block;
  padding: 10px;
  color: $grey-text;
  
  color: $soc-color;
  transition: 0.5s border-bottom;
  line-height: 1;


  &:hover {
      
      cursor: pointer;
    }
  a {
    color: $grey-text;
    border-bottom: 2px solid $grey-light;
    &:hover {
      border-bottom: 2px solid $eng-red;
    }
  }
  &:first-child {
    margin-left: 0;
  }
}

