@font-face {font-family: 'PT Serif'; 
	src: url('../fonts/ptf55f_w.eot'); 
	src: local('PT Serif'), url('../fonts/ptf55f_w.eot?#iefix') format('embedded-opentype'), url('../fonts/ptf55f_w.woff') format('woff'),url('../fonts/ptf55f_w.ttf') format('truetype'), url('../fonts/ptf55f_w.svg#PTSerif-Regular') format('svg');}

@font-face {font-family: 'PT Serif'; 
	font-style: italic;
	src: url('../fonts/ptf56f_w.eot'); 
	src: local('PT Serif Italic'), url('../fonts/ptf56f_w.eot?#iefix') format('embedded-opentype'), url('../fonts/ptf56f_w.woff') format('woff'),url('../fonts/ptf56f_w.ttf') format('truetype'), url('../fonts/ptf56f_w.svg#PTSerif-Italic') format('svg');}

@font-face {font-family: 'PT Serif';
	src: url('../fonts/ptf75f_w.eot');
	font-style: normal;
	font-weight: bold; 
	src: local('PT Serif Bold'), url('../fonts/ptf75f_w.eot?#iefix') format('embedded-opentype'), url('../fonts/ptf75f_w.woff') format('woff'),url('../fonts/ptf75f_w.ttf') format('truetype'), url('../fonts/ptf75f_w.svg#PTSerif-Bold') format('svg');}

@font-face {font-family: 'PT Serif';
	font-style: italic;
	font-weight: bold; 
	src: url('../fonts/ptf76f_w.eot'); 
	src: local('PT Serif Bold Italic'), url('../fonts/ptf76f_w.eot?#iefix') format('embedded-opentype'), url('../fonts/ptf76f_w.woff') format('woff'),url('../fonts/ptf76f_w.ttf') format('truetype'), url('../fonts/ptf76f_w.svg#PTSerif-BoldItalic') format('svg');}

