.announcement {
	display: flex;
	justify-context: space-between;
	flex-direction: row;
	margin-bottom: 40px;
	

	.announcement-image {
		width: 50%;
		img {
			width: 100%;
			height: auto;
		}
	}
	
	.announcement-description {
		width: 50%;
		margin-left: 2%;
		.title {
			line-height: 1.5;
			font-size: $text24; //24 / 16
			margin-bottom: 10px;
			
		}
		.desc {
			text-align: left;
		}

		.place-time {
			font-style: italic;
		}
	}

	@media (max-width: 765px) {
		flex-direction: column;
		.announcement-image {
			width: 100%;
		}
		.announcement-description {
			width: 100%;
			margin: 0;
		}
		.title {
			text-align: center;
		}
	}

}

.news-afisha {
	color: $grey-text;
	display: flex;
	justify-content: space-between;
	section > h2 {
		font-size: $text24;
	}
	.news {
		max-width: 450px;
		.news-title {
			padding: 10px 0;
		}
	}

	.afisha {
		& > h2 {
			margin-left: 65px;
		}


		.afisha-list {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
		}

		.afisha-item {
			display: flex;
			justify-content: space-between;
			max-width: 334px;
			padding: 10px 0;
			text-align: left;

			.afisha-about {
				width: 80%;
				.afisha-title {
					font-size: $text14;
					font-weight: bold;
				}
				.afisha-description {
					font-size: $text14;
					color: $grey-text;

				}
				.afisha-date {
					@extend .sub-text;
					font-style: italic;
				}
				.afisha-place {
					@extend .sub-text;
				}
			}
			.afisha-img {
				width: 20%;
				img {
					width: 100%;
					height: auto;
				}
				margin-right: 5px;
			}
		}
	}

	@media (max-width: 600px) {
		flex-direction: column;
		.news {
			max-width: 100%;
			text-align: center;
		}


		.afisha {
			margin-top: 20px;
			& > h2 {
				margin: 0;
				text-align: center;
			}
			.afisha-list {
				width: 100%;
				word-wrap: break-word;
				overflow-wrap: break-word;
				align-items: stretch;
				.afisha-item {
					margin: 0 auto;
					width: 100%;
					max-width: 100%;
					
				}
			}
		}
	}

}