$eng-red: #bb2721;
$grey-text: #212121;
$grey-light: rgba(0,0,0,.15);
$soc-color: #989898;

$PT: 'PT Serif', serif;

$text12: 0.75 * 1rem;
$text14: 0.875 * 1rem;
$text16: 1 * 1rem;
$text18: 1.125 * 1rem;
$text24: 1.5 * 1rem;
$text30: 1.875 * 1rem;
$text72: 4.5 * 1rem;

$margin1: 8px;
$margin2: 16px;
$margin3: 32px;
$margin4: 48px;
$margin5: 80px;

$grid-columns: 12;

@mixin span($columns){
  width: $columns/$grid-columns*100%;
}

