$eng-red: #bb2721;
$grey-text: #212121;
$grey-light: rgba(0,0,0,.25);
$soc-color: #989898;

$PT: 'PT Serif', serif;

$text12: 0.75em;
$text14: 0.875em;
$text16: 1em;
$text18: 1.125em;
$text24: 1.5em;
$text72: 4.5em;


