$eng-red: #bb2721;
$grey-text: #212121;
$grey-light: rgba(0,0,0,.25);
$soc-color: #989898;

$PT: 'PT Serif', serif;

$text12: 0.75 * 1rem;
$text14: 0.875 * 1rem;
$text16: 1 * 1rem;
$text18: 1.125 * 1rem;
$text24: 1.5 * 1rem;
$text72: 4.5 * 1rem;


