/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PT_Serif-Web-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PT_Serif-Web-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "PT Serif";
  src: url("../../fonts/PT_Serif-Web-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "PT Serif";
  src: url("../../fonts/PT_Serif-Web-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

.page-footer {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 25px;
  font-size: 0.75em;
  padding-bottom: 15px;
}

.page-footer .navigation {
  font-size: 14px;
  margin-bottom: 50px;
}

.page-footer .adress {
  font-style: italic;
}

.page-footer .footer-fond {
  text-align: left;
  width: 31.9148936%;
  max-width: 300px;
}

.page-footer .socials {
  margin-left: 30px;
}

.page-footer .copyright {
  text-align: center;
}

@media (max-width: 765px) {
  .page-footer {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .page-footer .footer-fond {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .page-footer .navigation {
    font-size: 14px;
    margin-bottom: 0px;
    text-align: center;
  }
  .page-footer .copyright {
    width: 100%;
  }
}

.grey-line {
  width: 100%;
  border-top: 1px solid #e8e8e8;
}

.page-header {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 12px;
}

.page-header .header-info {
  overflow-wrap: break-word;
  text-align: right;
}

.page-header .header-info .sub-text {
  max-width: 300px;
}

.page-header .header-info .header-contacts {
  font-size: 0.875em;
  margin-top: 12px;
  margin-bottom: 15px;
}

.page-header .header-info .header-contacts .phone {
  margin-left: 25px;
}

.page-header .logo {
  width: 381;
  min-width: 300px;
  height: auto;
}

.page-header .logo img {
  width: 100%;
  height: auto;
}

@media (max-width: 750px) {
  .page-header {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .page-header .logo {
    margin: 0 auto;
    width: 70%;
    min-width: 0;
  }
  .page-header .header-info {
    text-align: center;
  }
  .page-header .header-info .sub-text {
    max-width: 100%;
  }
}

.header-menu {
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media (max-width: 690px) {
  .header-menu {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

body {
  font-family: "PT Serif", serif;
  font-size: 1em;
  margin: 0 auto;
  width: 100%;
  background: white;
  color: #212121;
  line-height: 1.5;
}

.wrapper {
  box-sizing: content-box;
  max-width: 940px;
  margin: 0 auto;
  padding-right: 2%;
  padding-left: 2%;
}

main {
  padding-top: 40px;
}

.red-Line {
  width: 100%;
  margin-top: 100px;
  border-top: 1px solid #bb2721;
}

.sub-text {
  color: #989898;
  font-size: 0.75em;
}

.navigation li {
  text-align: center;
  display: inline-block;
  padding: 10px;
  color: #212121;
  color: #989898;
  transition: 0.5s border-bottom;
  line-height: 1;
}

.navigation li:first-child {
  padding-left: 0;
}

.navigation li:last-child {
  padding-right: 0;
}

.navigation li:hover {
  cursor: pointer;
}

.navigation li a {
  color: #212121;
  transition: 0.5s border-bottom;
  border-bottom: 2px solid #e8e8e8;
}

.navigation li a:hover {
  border-bottom: 2px solid #bb2721;
}

.navigation li:first-child {
  margin-left: 0;
}

.socials {
  display: inline-block;
  min-width: 60px;
}

.socials li {
  display: inline-block;
  color: #989898;
  font-size: 1.125em;
  margin-right: 10px;
}

.socials li a {
  color: #989898;
}

.socials li a:hover {
  color: #bb2721;
}

.ya-map {
  max-width: 940px;
  width: 100%;
}
