@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/ptf55f_w.eot");
  src: local("PT Serif"), url("../fonts/ptf55f_w.eot?#iefix") format("embedded-opentype"), url("../fonts/ptf55f_w.woff") format("woff"), url("../fonts/ptf55f_w.ttf") format("truetype"), url("../fonts/ptf55f_w.svg#PTSerif-Regular") format("svg");
}

@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  src: url("../fonts/ptf56f_w.eot");
  src: local("PT Serif Italic"), url("../fonts/ptf56f_w.eot?#iefix") format("embedded-opentype"), url("../fonts/ptf56f_w.woff") format("woff"), url("../fonts/ptf56f_w.ttf") format("truetype"), url("../fonts/ptf56f_w.svg#PTSerif-Italic") format("svg");
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/ptf75f_w.eot");
  font-style: normal;
  font-weight: bold;
  src: local("PT Serif Bold"), url("../fonts/ptf75f_w.eot?#iefix") format("embedded-opentype"), url("../fonts/ptf75f_w.woff") format("woff"), url("../fonts/ptf75f_w.ttf") format("truetype"), url("../fonts/ptf75f_w.svg#PTSerif-Bold") format("svg");
}

@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/ptf76f_w.eot");
  src: local("PT Serif Bold Italic"), url("../fonts/ptf76f_w.eot?#iefix") format("embedded-opentype"), url("../fonts/ptf76f_w.woff") format("woff"), url("../fonts/ptf76f_w.ttf") format("truetype"), url("../fonts/ptf76f_w.svg#PTSerif-BoldItalic") format("svg");
}

.page-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  font-size: 0.75em;
  padding-bottom: 15px;
}

.page-footer .navigation {
  margin-bottom: 50px;
}

.page-footer .navigation li {
  font-size: 1.16666667em;
}

.page-footer .adress {
  font-style: italic;
}

.page-footer .footer-fond {
  text-align: left;
  width: 31.9148936%;
  max-width: 300px;
}

.page-footer .socials {
  margin-left: 30px;
}

.page-footer .copyright {
  text-align: center;
}

@media (max-width: 765px) {
  .page-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-footer .footer-fond {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .page-footer .navigation {
    width: 100%;
    font-size: 1em;
    margin-bottom: 0px;
    text-align: center;
  }
  .page-footer .copyright {
    width: 100%;
  }
}

.grey-line {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.page-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 15px;
  padding-bottom: 12px;
}

.page-header .header-info {
  margin-left: 10px;
  min-width: 300px;
  overflow-wrap: break-word;
  text-align: right;
}

.page-header .header-info .sub-text, .page-header .header-info .news-afisha .afisha .afisha-item .afisha-about .afisha-date, .news-afisha .afisha .afisha-item .afisha-about .page-header .header-info .afisha-date, .page-header .header-info .news-afisha .afisha .afisha-item .afisha-about .afisha-place, .news-afisha .afisha .afisha-item .afisha-about .page-header .header-info .afisha-place {
  max-width: 300px;
}

.page-header .header-info .header-contacts {
  font-size: 0.875em;
  margin-top: 12px;
  margin-bottom: 15px;
}

.page-header .header-info .header-contacts .phone {
  margin-left: 25px;
}

.page-header .logo {
  display: block;
  width: 66%;
  padding-top: 16%;
  background: url("../img/logo.png") top left no-repeat;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
  background-image: url("../img/logo.svg");
}

@media (max-width: 750px) {
  .page-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
  }
  .page-header .logo {
    padding-top: 0;
    padding-bottom: 16%;
    margin: 0 auto;
    width: 60%;
    padding-top: 16%;
    background: url("../img/logo-vertical.png") top center no-repeat;
    -webkit-background-size: 100% auto;
            background-size: 100% auto;
    background-image: url("../img/logo-vertical.svg");
  }
  .page-header .header-info {
    text-align: center;
    margin-left: 0px;
    min-width: 0;
    width: 100%;
  }
  .page-header .header-info .sub-text, .page-header .header-info .news-afisha .afisha .afisha-item .afisha-about .afisha-date, .news-afisha .afisha .afisha-item .afisha-about .page-header .header-info .afisha-date, .page-header .header-info .news-afisha .afisha .afisha-item .afisha-about .afisha-place, .news-afisha .afisha .afisha-item .afisha-about .page-header .header-info .afisha-place {
    max-width: 100%;
  }
}

.header-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  max-width: 940px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 690px) {
  .header-menu {
    padding-top: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

body {
  font-family: "PT Serif", serif;
  font-size: 1em;
  margin: 0 auto;
  width: 100%;
  background: white;
  color: #212121;
  line-height: 1.5;
}

.wrapper {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 940px;
  margin: 0 auto;
  padding-right: 2%;
  padding-left: 2%;
}

.link-red, a, .navigation li .fal {
  color: #212121;
  -webkit-transition: .33s all;
  -o-transition: .33s all;
  transition: .33s all;
  cursor: pointer;
}

.link-red:hover, a:hover, .navigation li .fal:hover {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  color: #bb2721;
}

li a {
  cursor: pointer;
}

.underline-grey a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-transition: .33s all;
  -o-transition: .33s all;
  transition: .33s all;
}

.underline-grey a:hover {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  border-bottom: 1px solid #bb2721;
}

.red-Line {
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid #bb2721;
}

.sub-text, .news-afisha .afisha .afisha-item .afisha-about .afisha-date, .news-afisha .afisha .afisha-item .afisha-about .afisha-place {
  color: #989898;
  font-size: 0.75em;
}

.text12 {
  font-size: 0.75em;
}

.text14 {
  font-size: 0.875em;
}

.text72 {
  font-size: 4.5em;
}

.text24 {
  font-size: 1.5em;
}

.navigation {
  font-size: 1em;
}

.navigation li {
  text-align: center;
  display: inline-block;
  padding: 0 10px;
  color: #212121;
  line-height: 1;
}

.navigation li:first-child {
  padding-left: 0;
  margin-left: 0;
}

.navigation li:last-child {
  padding-right: 0;
  margin-right: 0;
}

.socials {
  display: inline-block;
  min-width: 60px;
}

.socials li {
  display: inline-block;
  color: #989898;
  font-size: 1.125em;
  margin-right: 10px;
}

.socials li a {
  color: #989898;
  border: none;
}

.socials li a:hover {
  color: #bb2721;
}

.page-content {
  margin: 40px 0;
}

.announcement {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-context: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 40px;
}

.announcement .announcement-image {
  width: 50%;
}

.announcement .announcement-image img {
  width: 100%;
  height: auto;
}

.announcement .announcement-description {
  width: 50%;
  margin-left: 2%;
}

.announcement .announcement-description .title {
  line-height: 1.5;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.announcement .announcement-description .desc {
  text-align: left;
}

.announcement .announcement-description .place-time {
  font-style: italic;
}

@media (max-width: 765px) {
  .announcement {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .announcement .announcement-image {
    width: 100%;
  }
  .announcement .announcement-description {
    width: 100%;
    margin: 0;
  }
  .announcement .title {
    text-align: center;
  }
}

.news-afisha {
  color: #212121;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-afisha section > h2 {
  font-size: 1.5em;
}

.news-afisha .news {
  max-width: 450px;
}

.news-afisha .news .news-title {
  padding: 10px 0;
}

.news-afisha .afisha > h2 {
  margin-left: 65px;
}

.news-afisha .afisha .afisha-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-afisha .afisha .afisha-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 334px;
  padding: 10px 0;
  text-align: left;
}

.news-afisha .afisha .afisha-item .afisha-about {
  width: 80%;
}

.news-afisha .afisha .afisha-item .afisha-about .afisha-title {
  font-size: 0.875em;
  font-weight: bold;
}

.news-afisha .afisha .afisha-item .afisha-about .afisha-description {
  font-size: 0.875em;
  color: #212121;
}

.news-afisha .afisha .afisha-item .afisha-about .afisha-date {
  font-style: italic;
}

.news-afisha .afisha .afisha-item .afisha-img {
  width: 20%;
  margin-right: 5px;
}

.news-afisha .afisha .afisha-item .afisha-img img {
  width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .news-afisha {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-afisha .news {
    max-width: 100%;
    text-align: center;
  }
  .news-afisha .afisha {
    margin-top: 20px;
  }
  .news-afisha .afisha > h2 {
    margin: 0;
    text-align: center;
  }
  .news-afisha .afisha .afisha-list {
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .news-afisha .afisha .afisha-list .afisha-item {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
  }
}

.letter-spacing-300 {
  letter-spacing: 0.3em;
  text-align: center;
  margin: 60px 0 15px 0;
  font-size: 1.5em;
}

.gallery {
  text-align: center;
}

.gallery p {
  display: inline-block;
  max-width: 600px;
  text-align: center;
}

.gallery .gal-formats {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.gallery .gal-formats li {
  padding: 0 10px;
}

.gallery .gal-formats li a {
  color: #bb2721;
}

.gallery .responsive-box {
  margin: 20px 0;
  position: relative;
  width: 100%;
  /* Произвольная ширина, которая требуется для блока */
}

.gallery .responsive-box::before {
  content: "";
  display: block;
  padding-top: 89%;
  /* С помощью этого padding мы задаем высоту равную ширине блока */
}

.gallery .gal-imgs {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.gallery .gal-imgs img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.gallery .gal-imgs .gal-img {
  display: block;
  width: 33%;
  height: 25%;
  float: left;
}

.gallery .gal-imgs .gal-img2x2 {
  width: 66%;
  height: 49.99%;
}

.gallery .gal-imgs .gal-master {
  font-style: italic;
  text-align: center;
  font-size: 0.875em;
  line-height: 1;
}

.gallery .gal-imgs .gal-master img {
  width: 60%;
  margin: 20px 0 1px 0;
  height: auto;
}

.gallery .gal-imgs .gal-master p {
  text-decoration: underline;
}

.gallery .gal-imgs:after {
  content: "";
  display: block;
  clear: both;
}

.fond-big {
  display: block;
  width: 100%;
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
}

.ya-map {
  max-width: 940px;
  width: 100%;
}
