.page-footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 25px;
	font-size: $text12; //12 / 16
	padding-bottom: 15px;
	.navigation {
		li {
			font-size: 1.16666667em; //14/12
		}
		margin-bottom: 50px;
	}
	.adress {
		font-style: italic;
	}

	.footer-fond {
		text-align: left;
		width: 31.9148936%;
		max-width: 300px;

	}
	.socials {
		margin-left: 30px;
	}

	.copyright {
		text-align: center;
	}

	@media (max-width: 765px) {

		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		.footer-fond {
			width: 100%;
			max-width: 100%;
			text-align: center;
		}

		.navigation {
			width: 100%;
			font-size: $text16;
			margin-bottom: 0px;
			text-align: center;
		}

		.copyright {
			width: 100%;
		}
	}
}

