body {
	font-family: $PT;
	font-size: $text16; //16 / 16
	margin: 0 auto;
	width: 100%;
	background: white;
	color: $grey-text;
	line-height: 1.5;
}



.wrapper {
	box-sizing: content-box;
	max-width: 940px;
	margin: 0 auto;
	padding-right: 2%;
	padding-left: 2%;

}

.link-red {
	color: $grey-text; 
	transition: .33s all;
	cursor: pointer;
	&:hover,
	&:focus {
		transition: none;
		color: $eng-red;
		outline: none;
	}

}

a {
	@extend .link-red;
}

li a {
	cursor: pointer;
}


.underline-grey {
	a {
		border-bottom: 1px solid $grey-light;
		transition: .33s all;
		&:hover,
		&:focus {
			transition: none;
			border-bottom: 1px solid $eng-red;
			outline: none;
		}
	}
}

.red-Line {
	margin-top: 150px;
	width: 100%;
	border-top: 1px solid $eng-red;
}

.sub-text {
	color: $soc-color;
	font-size: $text12; //12 / 16
}

.text12 {
	font-size: $text12;
}

.text14 {
	font-size: $text14;
}

.text72 {
	font-size: $text72; //72 / 16
}

.text24 {
	font-size: $text24;
}

.text30{
	font-size: $text30;
}

.letter-spacing-300 {
	letter-spacing: 0.3em;
	text-align: center;
	margin: 60px 0 15px 0;
	font-size: $text24;
	text-transform: uppercase;
}