.navigation {
  font-size: $text16;
  margin-top: 5px;
  li {
    text-align: center;
    display: inline-block;
    padding: 0 10px;
    color: $grey-text;
    line-height: 1;
    &:first-child {
      padding-left: 0;
      margin-left: 0;
    }
    &:last-child {
      padding-right: 0;
      margin-right: 0;
    }
    .fal {
      @extend .link-red;
    }
  }
}

.search-form {
  position: relative;

}

.search-form__input {
  width: 15px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  right: -1px;
  top: -1px;
  border: 1px solid $grey-light;
  outline: none;

  &:focus
 {
    opacity: 1;
    width: 120px;
  }
}

