.socials {
	display: inline-block;
	min-width: 60px;
	li {
		display: inline-block;
		color: $soc-color;
		font-size: $text18;
		margin-right: 10px;
		a {
			color: $soc-color;
			border: none;
			&:hover {
				color: $eng-red;
			}
		}
	}
}