.socials {
	display: inline-flex;
	width: 150px;
	justify-content: space-between;

	li {
		background-color: $grey-light;
		width: 25px;
		height: 25px;
		border-radius: 3px;
		text-align: center;
		padding: 0;
		margin: 0;

		a {
			display: block;
			font-size: $text16;
			color: #fff;
			margin-top: 1px;
			border: none;
			padding: 0;
			
			&:hover,
			&:focus {
				color: $eng-red;
				outline: none;
			}
		}
	}
}