.org-sostav {
	margin-top: 100px;
}

.org-sostav__faces {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	img {
		width: 100%;
		max-width: 220px;
		height: auto;
		margin-bottom: 10px;
	}
}

.org-sostav__one-face {
  flex-grow: 1;
  flex-basis: 150px;
  text-align: center;
  font-size: $text16;
  line-height: 21px;
  margin-bottom: 20px;

  span {
   color: $soc-color;
   font-style: italic;
 }


}

.org-sostav__found-role {
	display: block;
}

.about-date-title {
	margin-bottom: 10px;
	width: 80px;
	font-style: italic;
}

.org-sostav__pop-sovet {
	display: flex;
	flex-wrap: wrap;




	.about-date-title {
		width: 160px;

	}

}

.org-sostav__sovet-list {
	line-height: 26px;
	flex-grow: 1;
	flex-basis: 600px;
	span {
		font-size: $text14;
		color: $soc-color;
	}

}



.fond-about1993 {
	margin-top: 120px;
	max-width: 620px;
	h2 {
		font-size: $text24;
		
		margin-bottom: 26px;
	}

	p {
		padding-bottom: 24px;
	}
}

.about-targs__div {
  display: flex;
  flex-wrap: wrap;

  .about-date-title {
    flex-shrink: 0;
    width: 160px;

  }

  ol, p {
    max-width: 620px;
    flex-basis: 400px;
    flex-grow: 1;
    margin-bottom: 25px;
  }

  ol {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    flex-grow: 1;
    margin-bottom: 20px;
    list-style: decimal;

    @media (max-width: 580px) {
     margin-left:15px;
   }

   &:first-child {
     max-width: 150px;
     margin-right: 60px;
   }

   &:last-child {
     max-width: 320px;
   }
 }
}

.history__year-item {
	display: flex;
	flex-wrap: wrap;
	
	padding: 0;
	
}

.history__year {
	width: 60px;
	flex-shrink: 0;
	font-size: $text14;
}

.history__months-events {
  max-width: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.history__month-event {
	display: flex;
	margin-bottom: 26px;
	//flex-wrap: wrap;
}

.marginBottom0 {
	margin: 0;
}

.history__month {
	width: 80px;
	flex-shrink: 0;
	text-align: right;
	margin-right: 20px;
	font-style: italic;
	color: $soc-color;
	line-height: 19px;
	font-size: $text14;
}

.history__event {
	display: flex;
	flex-direction: column;
	max-width: 620px;
  //width: 100%;
  flex-basis: 300px;
  flex-grow: 1;
}

.history__photos {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;



	img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  li {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    padding-right: 5px;
    height: auto;
    flex-grow: 1;

    width: 0px;


    &:last-child {
     position: relative;
   }

 }

 @media(max-width: 500px) {
  flex-wrap: wrap;
  align-content: flex-end;

  li {
    width: 49%;
    max-width: 49%;
    padding-right: 0px;
  }
}
}

.history__photos-more {
	display: block;
  width: 50px;
  font-size: $text16;
  line-height: 16px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
  text-align: right;
  .num {
   font-style: $text24;
 }


}
