.org-sostav {
	margin-top: 100px;
}

.org-sostav__faces {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  
	img {
		width: 100%;
		max-width: 220px;
		height: auto;
		margin-bottom: 10px;
	}
}

.org-sostav__one-face {
  flex-grow: 1;
  flex-basis: 150px;
  text-align: center;
  font-size: $text16;
  line-height: 21px;
  margin-bottom: 20px;

  span {
   color: $soc-color;
   font-style: italic;
 }


}

.org-sostav__found-role {
	display: block;

}

















.ya-map {
	max-width: 940px;
	width: 100%;
}