.event{

  &__title{
    margin-bottom: 48px;
    max-width: 50%;
  }

  &__title-container{
    display: flex;
    justify-content: space-between;
  }

  &__canceled, &__rescheduled{
    font-size: $text72;
    color: $eng-red;
    line-height: 1;

    &--small{
      font-size: $text16;
      color: $eng-red;
      line-height: 1;
    }
  }

  &__title-label{
    font-size: $text14;
    display: inline-block;
    line-height: 1;
    color: $soc-color;
  }

  &__top-containers{
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
  }

  &__left-container{
    width: 49%;
    float: left;
    line-height: 1.5;

    p{
      margin-bottom: 1.5em;
    }
  }

  &__right-container{
  }

  &__data{
    position: sticky;
    top: 16px;
  }

  &__thumbnail{
    margin-bottom: $margin25;
    img{
      max-width: 100%;
      height: auto;
    }
  }

  &__announcement{
    line-height: 1.5;

    ul{
      margin: -24px 0 24px 24px;

      li{
        margin-bottom: 8px;
      }
    }

    p:last-child{
      margin-bottom: 0;
    }
  }

  &__right-container{
    width: 41.666666667%;
    float: right;
  }

  &__time{
    display: inline-block;
    margin-right: 15px;
    color: $eng-red;
  }

  &__date{
    display: inline-block;
    color: $eng-red;
  }

  &__place{
    display: inline-block;
    font-style: italic;
    color: $eng-red;
  }

  &__massmedia{
    margin-top: 24px;

    h4{
      color: $grey-text;
      font-weight: bold;
    }
  }

  &__photos{
    margin-top: 80px;

    .picture-container{
      margin: 0 -.5%;
      display: flex;
      flex-wrap: wrap;
    }
    .picture{
      max-width: 25%;
      padding: .2% .5%;
      box-sizing: border-box;
    }
    img{
      width: 100%;
      height: auto;
    }
  }
}