body {
	font-family: $PT;
	font-size: 16px;
	
}

.full-wrapper {
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
	background: white;
}

.wrapper {
	margin: 0 auto;
	max-width: 960px;
	width: 75%;
}



